<div class="container">

<h1>Editing Brewery</h1>

<%= render 'form' %>

  <%= link_to breweries_path, class: 'btn btn-danger' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>

</div>
