<div class="container">
  <h1>New Brewery</h1>

  <%= render 'form' %>

  <%= link_to state_breweries_path(params[:state_id]), class: 'btn btn-danger' do %>
        <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>
</div>
